body,
div {
	margin: 0px auto;
	padding: 0px;
}

.main_container{
	padding: 10px;
}

.fileInputContainer {
	height: 256px;
	background: url(../img/image_add.png);
	position: relative;
	width: 256px;
}

.fileContainer{
	height: 256px;
	position: relative;
	width: 256px;
}

.fileContainer .delete_image {
	z-index: 9999;
	top: 0px;
	right: 0px;
	position: absolute;
	margin-top: -10px;
	margin-right: -10px;
}

.fileInputReset {
	height: 20px;
	overflow: hidden;
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
	width: 60px;
}
#fileInput {
	width: 256px;
	height: 256px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	line-height: 256px;
	font-size: 100px;
	opacity: 0;
	filter: alpha(opacity=0);
}
.add_image,.div_image{
	height: 340px;
	width: 276px;
	border: 1px solid #AACCDD;
	display:block;
	float: left;
}
.edit_box{
	border-top:1px solid #AACCDD ;
}

.btn_box,.link_box{
	padding:0px 10px 0px 10px;
	clear: both;
}

.padding-10{
	padding: 10px;;
}

.txt_link{
	width: 180px;;
}

.btn_box li{
	list-style-type: none;
	width: 25%;
	float: left;
	text-align: center;
}
.link_box li{
	list-style-type: none;
	float: left;
	text-align: center;
}
.btn_box li a{
	text-decoration: none;
	width: 60px;
}

.clearboth{
	clear: both;
}
